<section class="block containerss">
            <header class="block__header">
              <h2 class="block__heading">Heading</h2>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati doloremque sunt iste libero tempora quis enim animi laborum assumenda blanditiis.</p>
            </header>
            <div class="card card--secondary"style="width:30%; padding: 4rem;">
              <header class="card__header">Card title </header>
                 <div class="card__body"> 
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Possimus reprehenderit porro ab laboriosam veniam ipsam officiis nemo aspernatur quod quis sit inventore molestias quo sequi repellendus culpa ut, labore quas!
                </div>
              </div>
</section> <!----WE CAN REPRESENT A BLOCK USING SECTION ELEMENT*/--> 