<section class="block block--dark block--skewed-right block-showcase">
            <header class="block__header">
              <h2>User-friendly Control Panel</h2>
              <div class="container grid grid--1x2">
                <picture class="block-showcase__image">
                  <source type="image/webp" srcset="images/ipad.webp 1x, images/ipad@2x.webp 2x">
                  <source type="image/jpg" srcset="images/ipad.jpg 1x, images/ipad@2x.jpg 2x">
                  <img class="block-showcase__mainimage" src="images/ipad@2x.jpg" alt="">
               </picture>
                <ul class="list">
                  <li>
                   <div class="media">
                     <div class="media__image">
                         <svg class="icon">
                           <use xlink:href="images/sprite.svg#snap"></use>
                         </svg>
                     </div>
                       <div class="media__body">
                         <h3 class="media__title">Easy Start and Managed Updates</h3>
                         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat iure libero nam tempore accusantium quibusdam vitae ipsa corporis? Repellendus, eaque.</p>
                       </div>
                 </div>
                  </li>
                  <li>
                   <div class="media">
                     <div class="media__image">
                         <svg class="icon">
                           <use xlink:href="images/sprite.svg#snap"></use>
                         </svg>
                     </div>
                       <div class="media__body">
                         <h3 class="media__title">Easy Start and Managed Updates</h3>
                         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat iure libero nam tempore accusantium quibusdam vitae ipsa corporis? Repellendus, eaque.</p>
                       </div>
                 </div>
                  </li>
                  <li>
                   <div class="media">
                     <div class="media__image">
                         <svg class="icon">
                           <use xlink:href="images/sprite.svg#snap"></use>
                         </svg>
                     </div>
                       <div class="media__body">
                         <h3 class="media__title">Easy Start and Managed Updates</h3>
                         <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat iure libero nam tempore accusantium quibusdam vitae ipsa corporis? Repellendus, eaque.</p>
                       </div>
                 </div>
                  </li>
                </ul>
              </div>
            </header>
          </section>